*
{
	scroll-behavior: smooth;
	padding: 0;
	margin: 0;
}

/* Add a background color to the menu bar */
#menu
{
	/*
	Removes the bullet points, closes the margins and padding
	*/
	list-style-type: none;

	overflow: hidden;
	background-color: #e1f0fa;
	border: 0.2vh solid #516c86;

	padding-left:  20%;

	/*
	Make top bar scroll with site
	*/
	position: fixed;
	top: 0;


	/*
	Make the box responsive
	*/
	display: flex;
	box-sizing: border-box;
	width: 100%;
}

li
{
	float: left;
}

/* Style the links inside the navigation bar */
#menu a
{

	box-sizing: border-box;
	float:left;
	color: #516c86;
	text-align: center;
	margin-top: 1vh;
	margin-bottom: 1vh;
	margin-left: 1vh;
	padding: 1vh 2vh;
	text-decoration: none;
	font-size: 2vh;



	cursor: pointer;
	width: 15vh;
  	height: 5vh;
  	border: 0.1vh solid #516c86;
  	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	z-index: 0;
	transition: 1s;

}

#menu a::before, #menu a::after {
	position: absolute;
	background: #e1f0fa;
	z-index: -1;
	transition: 1s;
	content: '';
  }

  #menu a::before {
	height: 5vh;
	width: 13vh;
  }
  
  #menu a::after {
	width: 15vh;
	height: 3vh;
  }

  #menu a:hover::before {
	width: 0vh;
	background: #a5c0d3;
  }
  
  #menu a:hover::after {
	height: 0vh;
	background: #a5c0d3;
  }


/* Change the color of links on hover */
#menu a:hover
{
	background-color: #374a5c;
	background: #a5c0d3;
}





body 
{

	margin:0;
	background: white;
	font-family: 'Helvetica', 'Arial', sans-serif;
    color: #000051;
    font-size: 2vh;
    background-color: white;

}

#about
{
	padding-top: 4vh;
}

#photos
{
	padding-top: 4vh;
}


/*
Style the "About me" image galary 
*/
#imagesBox
{
	display: flex;
	padding: 0% 10% 4% 10%;
	box-sizing: border-box;
	width: 100%;
	height: 90vh;
}

/*
Set the image box settings
*/
#image
{
	flex: 1;
	overflow: hidden;
	transition: 0.5s;
	margin: 0 2%;
	box-shadow: 0 20px 30px rgba(0,0,0,0.1);
	line-height: 0;
	border: 0.2vh solid #516c86;
}

/*
Make the preview image
*/
#image > img
{
	width: 200%;
	height: calc(100% - 10vh);
	object-fit:  cover;
	transition: 0.5s;
	
}

/*
Calibrate the text
*/
#image > span
{
	font-size: 1.5vh;
	display: block;
	text-align: center;
	height: 10vh;
	line-height: 2.6;
}

/*
On hover incrase the image box size
*/
#image:hover 
{
	flex: 1 1 50%;
}

/*
On hover show the image in full scale with place at bottom for text
*/
#image:hover > img 
{
	width: 100%;
	height: 95%;
}

#about-me
{
	display: flex;
	box-sizing: border-box;
	width: 100%;
	height: 80vh;
	

}

h1
{
	font-size: 5vh;
	text-align: center;
	text-shadow:#bbe5ff 0 -1px 0,
	#516c86 1px 1px 0,
	#486077 2px 2px 0,
	#41576b 3px 3px 0,
	#364858 4px 4px 0,
	#2a3a47 5px 5px 0,
	#333 5px 5px 10px;color:#516c86;
	background-color:#e1f0fa;
	border: 0.2vh solid #516c86;
	
}

#text-box-about
{

	flex: 1;
	overflow: hidden;
	transition: 0.5s;

	box-sizing: border-box;
	float: left;
	width: 140vh;
	padding-left: 7vh;
	padding-right: 7vh;
	height: 70vh;
	margin-left:  2vh;
	background-color: rgba(242, 244, 255, 0.5);
	line-height:1.9;
	border: 0.2vh solid #516c86;
	margin-top: 5vh;
	box-shadow: 0 20px 30px rgba(0,0,0,0.1);
}

#text-box-video-one
{
	box-sizing: border-box;
	float: left;
	width: 100vh;
	padding-left: 7vh;
	padding-right: 7vh;
	height: 25vh;
	margin-left:  25%;
	background-color: #f2f4ff;
	line-height:1.9;
	border: 0.2vh solid #516c86;
	margin-top: 2vh;
	box-shadow: 0 20px 30px rgba(0,0,0,0.1);
}

#text-box-video-two
{
	box-sizing: border-box;
	float: left;
	width: 100vh;
	padding-left: 7vh;
	padding-right: 7vh;
	height: 8vh;
	margin-left:  25%;
	background-color: #f2f4ff;
	line-height:1.9;
	border: 0.2vh solid #516c86;
	margin-top: 2vh;
	box-shadow: 0 20px 30px rgba(0,0,0,0.1);
}


#music-vid
{
	text-align: center;

}



#about-me-pic > img
{

	flex: 1;
	overflow: hidden;
	transition: 0.5s;

	box-sizing: border-box;
	float: right;
	width: 40vh;
	height: 40vh;
	margin-right: 3vh;
	margin-left: 3vh;
	background-color: #516c86;
	padding: 1vh;
	margin-top: 15vh;
	box-shadow: 0 20px 30px rgba(0,0,0,0.1);
}


#fb-like-box
{
	margin: 0 auto;
	text-align: center;
	width: 50%;
}

#like-text
{
	flex: 1;
	overflow: hidden;
	transition: 0.5s;

	box-sizing: border-box;
	width: 60vh;
	padding-left: 5vh;
	padding-right: 5vh;
	height: 12vh;
	
	background-color: rgba(242, 244, 255, 0.5);
	line-height:1.9;

	margin-left: auto;
	margin-right: auto;
	margin-top: 2vh;
	margin-bottom: 2vh;

	border: 0.2vh solid #516c86;
	box-shadow: 0 20px 30px rgba(0,0,0,0.1);
}


/*
Style the Web answers table
*/
#web-table
{
	box-sizing: border-box;
	background: linear-gradient(45deg, #49a09d, #5f2c82);
	background: linear-gradient(45deg, #e1f0fa, #516c86);
	padding-left: 25%;
}

#answers
{
	flex: 1;
	overflow: hidden;
	transition: 0.5s;

	box-sizing: border-box;
	float: left;
	width: 100vh;
	padding-left: 7vh;
	padding-right: 7vh;
	height: 12vh;
	margin-left:  0vh;
	background-color: #f2f4ff;
	line-height:1.9;

	
	border: 0.2vh solid #516c86;
}

#spa
{
	margin: 0;
	padding: 0;
}

#contact
{
	margin: 0;
	padding: 0;
	
}

table 
{
	width: 100vh;
	border-collapse: collapse;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

th 
{
	
	background-color: rgb(85, 96, 143);
	background-color: #516c86;
	text-align: left;
	padding: 15px;
	text-align: center;
}

th:hover
{
	background-color: rgb(96, 107, 155)
}

td 
{
	background-color: rgba(255, 255, 255, 0.2);
	
	text-align: left;
	padding: 15px;
	
}

td:hover 
{
	background-color: rgba(255, 255, 255, 0.302);
  }


form > input > text
{
	width: 20em;
}

#scan-code
{
	flex: 1;
	overflow: hidden;
	transition: 0.5s;

	box-sizing: border-box;
	width: 60vh;
	padding-left: 5vh;
	padding-right: 5vh;
	height: 12vh;
	
	background-color: rgba(242, 244, 255, 0.5);
	line-height:1.9;

	margin-left: auto;
	margin-right: auto;
	margin-top: 2vh;
	margin-bottom: 2vh;

	border: 0.2vh solid #516c86;
	box-shadow: 0 20px 30px rgba(0,0,0,0.1);
	
	
}

#qrcoder-image
{

	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	

}

#qrcoder-image > img
{

	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;

	border: 1vh solid #516c86;
	background-color: #516c86;
	box-shadow: 0 20px 30px rgba(0,0,0,0.1);
}




/* Style inputs with type="text", select elements and textareas */
input[type=text], textarea {
	width: 100%; /* Full width */
	padding: 12px; /* Some padding */ 
	border: 1px solid #ccc; /* Gray border */
	border-radius: 4px; /* Rounded borders */
	box-sizing: border-box; /* Make sure that padding and width stays in place */
	margin-top: 6px; /* Add a top margin */
	margin-bottom: 16px; /* Bottom margin */
	resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit], input[type=reset]
  {
	background-color: #04AA6D;
	background-color: #e1f0fa;
	color: #516c86;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;

	border: 0.2vh solid #516c86;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover, input[type=reset]:hover
  {
	background-color: #45a049;
	background: #a5c0d3;
	
  }
  
  #email-form-box
  {
	  width: 100%;
	background-image: url("HaroldMulti.png");
	background-position: center; /* Center the image */
  	background-repeat: no-repeat; /* Do not repeat the image */
  	background-size: cover; /* Resize the background image to cover the entire container */
	height: 80vh;
	padding-top: 5vh;
  }

  /* Add a background color and some padding around the form */
  #email-form 
  {

	border-radius: 20px;
	box-sizing: border-box;
	width: 34vh;
	padding-left: 2vh;
	padding-right: 2vh;
	height: 45vh;
	background-color: rgb(242, 244, 255, 0.9);
	line-height:1.9;
	
	border: 0.2vh solid #516c86;
	box-shadow: 0 20px 30px rgba(0,0,0,0.1);


	
	margin: auto;
  	width: 30%;
  }







